#offerTwo {
    position: relative;
    top: 30%;
    width: 355px;
    height: 470px;
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 30px;
}

#offerTwo .basic {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 30px;
}

 .basic {
    background-color: #FFCC29;
    border-radius: 10px 10px 0px 0px;
    height: 80px;
 }

 .basic h2 {
    font-weight: 600;
    font-size: 20px;
    color: #1D539E;
 }

.basic p{
    margin-left: 118px;
    background-color: #1D539E;
    border-radius: 15px;
    color: #FFFFFF;
    padding: 8px 24px 8px 24px;
}

.font {
    padding:0 30px 0 30px;
}

#offerTwo > h2 {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 18px;
    color: #000;
}

#offerTwo .priceTwo {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    min-width: 148px;
    height: 49px;
}

.priceTwo .price{
    font-size: 36px;
    font-weight: bold;
    margin-right: 5px;
}

.priceTwo h2 {
    font-size: 36px;
}

.priceTwo p h2{
    font-weight: bold;
    font-size: 36px;
}

.month {
    color: #828799;
}

#offerTwo .text {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #828799;
    font-weight: normal;
    font-size: 14px;
}

#offerTwo .inf {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #828799;
    font-weight: normal;
    font-size: 14px;
}

#offerTwo hr {
    color: #8287997a;
    margin-top: 20px;
    margin-bottom: 20px;
}

#offerTwo button {
    position: absolute;
    top: 390px;
    width: 300px;
    height: 50px;
    font-size: 18px;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer; 
    background-color: #1D539E;
}

.inf >span {
    margin-right: 15px;
}